eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
spring:
  boot:
    admin:
      client:
        url: 'http://localhost:8080'
        auto-registration: true
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
      health:
        show-details: always
